Python Statement

##### If Statement

In [3]:
a = False 
if a:
  print("Positive")
else:
  print("Negative")

Negative

In [1]:
a = True 
if a:
  print("Positive")
else:
  print("Negative")

Positive

##### Else if

In [4]:
a=10
b=6
c=6

if a<b:
  print("a less than b")
elif c==b:
  print("a is equal to b")
  print("a is not less than b")
else:
  print("a is not less than b")

a is equal to b
a is not less than b

In [2]:
a=10
b=6
c=6

if a<b:
  print("a less than b")
elif c==b:
  print("a is equal to b")
  print("a is not less than b")
  if c<a:
    print("c is less than b")
else:
  print("a is not less than b")

a is equal to b
a is not less than b
c is less than b

##### For Statement

In [5]:
a = [1,2,3,4,5,6,7,8,9,10]

for i in a:
  print(i)

1
2
3
4
5
6
7
8
9
10

In [6]:
a = [i for i in 'Champ']
a

['C', 'h', 'a', 'm', 'p']

##### Odd & Even Number

In [7]:
a = [1,2,3,4,5,6,7,8,9,10]

for i in a:
  if i % 2 == 0:
    print(i, "Even Number")
  else:
    print(i, "Odd Number")

1 Odd Number
2 Even Number
3 Odd Number
4 Even Number
5 Odd Number
6 Even Number
7 Odd Number
8 Even Number
9 Odd Number
10 Even Number

##### String- For

In [8]:
for a in "Hello all":
  print(a)

H
e
l
l
o

a
l
l

##### Dictionary For

In [13]:
a = {"Name":"Elon", "Age":50, "Company":["SpaceX", "Tesla"]}

for k,v in a.items():
  #print(k)
  print(v)
  #print(k,v)

Elon
50
['SpaceX', 'Tesla']

##### While

In [15]:
a = 0 

while a < 11:
  print(a)
  a += 1             #a=a+1

0
1
2
3
4
5
6
7
8
9
10

While - Break & Continue

In [18]:
a=0
while a < 10:
  print(a)
  a+=1
  if a==5:
    print("a is equal to 5")
    break
  else:
    print("Continueeee")
    continue

0
Continueeee
1
Continueeee
2
Continueeee
3
Continueeee
4
a is equal to 5

In [19]:
a=0
while a < 10:
  print(a)
  a+=1
  if a==5:
    print("a is equal to 5")
    #break
  else:
    print("Continueeee")
    continue

0
Continueeee
1
Continueeee
2
Continueeee
3
Continueeee
4
a is equal to 5
5
Continueeee
6
Continueeee
7
Continueeee
8
Continueeee
9
Continueeee

Range

In [20]:
for a in range(6):
  print (a)

0
1
2
3
4
5

In [21]:
for a in range(1,10,3):
  print(a)

1
4
7

In [22]:
for a in range (10, 0, -3):
  print(a)

10
7
4
1

In [23]:
a = [i**2 for i in range(0,5)]
a

[0, 1, 4, 9, 16]

In [26]:
a = [i for i in range(10) if i%2 == 0]
a

[0, 2, 4, 6, 8]

Enumerate- To track number of iteration in the loop, without working with variable increment

In [27]:
a = 0
for i,a in enumerate("Hello Champ"):
  print(i,a)

0 H
1 e
2 l
3 l
4 o
5
6 C
7 h
8 a
9 m
10 p

ZIP - Creating a tuples by zipping 2 list

In [29]:
a = ["Name","Age","Country"]
b = ["Champ",27,"India"]
list(zip(a,b))

[('Name', 'Champ'), ('Age', 27), ('Country', 'India')]

In [30]:
a + b

['Name', 'Age', 'Country', 'Champ', 27, 'India']