FUNCTION

##### Initializing and calling basic function

In [1]:
def welcome():         #Define the function
  print("Hello guyz Welcome to Python Bootcamp !!!")

In [2]:
welcome()           #Callling the function

Hello guyz Welcome to Python Bootcamp !!!

##### Initializing & Calling basic function - With argument

In [3]:
def welcome(a):
  print("Hello {0}, Welcome to Python Bootcamp !!!".format(a))

In [4]:
welcome("Champ")

Hello Champ, Welcome to Python Bootcamp !!!

In [5]:
welcome("Funmi")

Hello Funmi, Welcome to Python Bootcamp !!!

##### Print and Return

In [6]:
def add(a,b):
  add = a+b
  print("Sum of {0} and {1} is {2}".format(a,b,add))

In [7]:
add(4,7)

Sum of 4 and 7 is 11

In [8]:
def addR(a,b):
  add = a+b
  return add

In [9]:
addR(4,7)

11

In [10]:
ans = addR(45,5)
final = ans*500
final

25000

**Practice Project - Extracting Prime no.**

In [11]:
def check(numbers):
  primeNumber = []
  for number in numbers:
    if number > 1:
      for i in range(2, int(number/2) +1):
        if (number % i) == 0:   #If number is divisible by any number between 2 and number / 2, it is not prime
            print(number, "is not a prime number")
            break
      else:
        print(number, "is a prime number")
        primeNumber.append(number)
    else:
      pass
  return primeNumber

In [12]:
check([2,3,4,5,6,7,8,9])

2 is a prime number
3 is a prime number
4 is not a prime number
5 is a prime number
6 is not a prime number
7 is a prime number
8 is not a prime number
9 is not a prime number

[2, 3, 5, 7]

10. **Map Function - Map a function to an iteration object**

In [13]:
def cubeFn(num):
  return num ** 3

In [14]:
a = [1,2,3,4,5]
list(map(cubeFn, a))

[1, 8, 27, 64, 125]

In [17]:
cubeFn(4)

64

##### 11. Filter Functions - Yields items of iterable in which function is true

In [20]:
def evenFn(num):
  return num % 2 == 0

In [23]:
a = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(list(map(evenFn, a)))
print(list(filter(evenFn, a)))

[True, False, True, False, True, False, True, False, True, False, True]
[0, 2, 4, 6, 8, 10]

**12. Lambda Fn - To create anonymous functions, without using def**

In [24]:
# Normal fn 

def cubeFn(num):
  return num ** 3

cubeFn(6)

216

In [26]:
# LAMBDA

cubefn = lambda num: num**3
cubefn(6)

216

**13. Args and *Kwargs**

In [31]:
#Normal Fn. with Arguements

def addR(a,b,c,d):
  add = a+b+c+d
  return add
addR(10,20,30,40)

100

In [30]:
#Purpose of args

def addR(*argg):
    return sum(argg)
addR(10,20,30,40)

100

In [32]:
#Purpose of args

def addR(*argg):
  return sum(argg)
addR(10,20,30,40,52,75,8,5,26,15)

281

**Kwargs - dictionary of key/value pairs**

In [33]:
def func(**kwargs):
    if 'name' in kwargs:
        print("My Name is {0}".format(kwargs['name']))
    if 'age' in kwargs:
        print("My Age is {0}".format(kwargs['age']))
    else:
        print("No Key Found")
        
func(name='champ',age=24,marks=99)

My Name is champ
My Age is 24

In [34]:
def func(**kwargs):
    if 'name' in kwargs:
        print("My Name is {0}".format(kwargs['name']))
    if 'age' in kwargs:
        print("My Age is {0}".format(kwargs['age']))
    if 'marks' in kwargs:
      print("My mark is {0}".format(kwargs['marks']))
    else:
        print("No Key Found")
        
func(name='champ',age=24,marks=99)

My Name is champ
My Age is 24
My mark is 99